In [1]:
from core.goodreads import GoodReadsData
import gc

goodreads = GoodReadsData()
filename = goodreads.file_names[12]
filename

'book_clubs'

In [2]:
gc.collect()

0

# Análisis de `book_clubs`

In [3]:
import os
import numpy as np
import pandas as pd

In [5]:
# Download
if not os.path.exists(goodreads.get_file_path(filename)):
    goodreads.download_file(filename)
    
df = goodreads.load_file(filename)

### Análisis
1. Comprensión de datos.
2. Detección de `nan` y duplicados.
3. Detección de errores.

In [6]:
df.sample(5)

,user_url,group_name
727,"[/user/show/11877125-paula-c, /user/show/28096...",56452-fun-games
296,"[/user/show/43860254-babu-thomas, /user/show/5...",49456-vayanashala
123,"[/user/show/6469254-luka, /user/show/20786746-...",42960-future-survivors-the-apocalypse-group
386,"[/user/show/16905850-sassafrass-candace, /user...",140701-corinne-michaels-books
160,"[/user/show/53683307-tiana-kelly, /user/show/5...",84067-psychological-thrillers

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_url    965 non-null    object
 1   group_name  965 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [10]:
df["user_url"].iloc[0][:10]

['/user/show/16272085-sydney-stype',
 '/user/show/5365720-allison-kappler',
 '/user/show/55945536-ellen-dailey',
 '/user/show/5711848-teresa',
 '/user/show/1840813-angela-randall',
 '/user/show/1885245-ginny',
 '/user/show/52658336-thu-nguyen',
 '/user/show/36086223-sarah-mackey',
 '/user/show/44730078-daniela',
 '/user/show/13344219-dezirea']

In [12]:
df["group_name"].iloc[0:10]

0             179584-our-shared-shelf
1      220-goodreads-librarians-group
2    85538-oprah-s-book-club-official
3    185-what-s-the-name-of-that-book
4     26989-goodreads-authors-readers
5                64233-addicted-to-ya
6            4170-the-sword-and-laser
7                1-goodreads-feedback
8                          233-poetry
9             345-goodreads-indonesia
Name: group_name, dtype: object

In [13]:
(df["group_name"] == "").sum()

np.int64(0)

In [14]:
df["user_url"].apply(lambda x: len(x) == 0).sum()

np.int64(0)

In [15]:
df["group_name"].nunique()

965

### Transformación
1. Transformar tipos de datos.

In [16]:
df["group_name"] = df["group_name"].str.replace(r"\s+", "", regex=True)

In [17]:
df["group_name"] = df["group_name"].astype("string")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 965 entries, 0 to 964
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_url    965 non-null    object
 1   group_name  965 non-null    string
dtypes: object(1), string(1)
memory usage: 15.2+ KB