In [10]:
from core.goodreads import GoodReadsData
import gc

goodreads = GoodReadsData()
filename = goodreads.file_names[8]
filename

'book_id_map'

In [11]:
gc.collect()

0

# Análisis de `book_id_map`

In [12]:
import os
import pandas as pd
import numpy as np

In [13]:
# Download
if not os.path.exists(goodreads.get_file_path(filename)):
    goodreads.download_file(filename)
    
df = goodreads.load_file(filename)

### Análisis
1. Comprensión de datos.
2. Comprobación de `nan` y duplicados.
3. Detección de errores.

In [14]:
df.sample(5)

         book_id_csv   book_id
890383        890383  35065362
1657990      1657990   3745998
203515        203515  23289990
1652050      1652050  25417569
1372380      1372380  22318340

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360650 entries, 0 to 2360649
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id_csv  int64
 1   book_id      int64
dtypes: int64(2)
memory usage: 36.0 MB

In [16]:
df.isna().sum()

book_id_csv    0
book_id        0
dtype: int64

In [17]:
df["book_id"].duplicated().sum()

np.int64(0)

In [18]:
df.describe()

        book_id_csv       book_id
count  2.360650e+06  2.360650e+06
mean   1.180324e+06  1.540948e+07
std    6.814611e+05  1.081894e+07
min    0.000000e+00  1.000000e+00
25%    5.901622e+05  5.979043e+06
50%    1.180324e+06  1.585680e+07
75%    1.770487e+06  2.438191e+07
max    2.360649e+06  3.653043e+07

### Transformación
1. Aplicar transformación según rango de valores.

In [19]:
df["book_id_csv"] = df["book_id_csv"].astype(np.uint32)
df["book_id"] = df["book_id"].astype(np.uint32)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360650 entries, 0 to 2360649
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id_csv  uint32
 1   book_id      uint32
dtypes: uint32(2)
memory usage: 18.0 MB