In [1]:
from core.goodreads import GoodReadsData
import gc

goodreads = GoodReadsData()
filename = goodreads.file_names[10]
filename

'goodreads_interactions'

In [2]:
gc.collect()

0

# Análisis de `goodreads_interactions`

In [3]:
import os
import numpy as np

In [4]:
# Download
if not os.path.exists(goodreads.get_file_path(filename)):
    goodreads.download_file(filename)
    
df = goodreads.load_file(filename)

### Análisis
1. Comprensión de datos.
2. Detección de `nan` y duplicados.
3. Detección de errores.

In [5]:
df.sample(5)

           user_id  book_id  is_read  rating  is_reviewed
206268552   431168   165930        0       0            0
160060127   333190    84918        0       0            0
135787796   279863   859562        0       0            0
131848322   271524     8385        1       4            1
156877503   326166   954629        0       0            0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228648342 entries, 0 to 228648341
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   book_id      int64
 2   is_read      int64
 3   rating       int64
 4   is_reviewed  int64
dtypes: int64(5)
memory usage: 8.5 GB

In [7]:
df.isna().sum()

user_id        0
book_id        0
is_read        0
rating         0
is_reviewed    0
dtype: int64

In [8]:
# df.groupby(["book_id", "user_id"]).size().gt(1).sum()

In [9]:
df.describe()

            user_id       book_id       is_read        rating   is_reviewed
count  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08
mean   2.500636e+05  2.015756e+05  4.904090e-01  1.801340e+00  7.093491e-02
std    1.712713e+05  3.448677e+05  4.999080e-01  2.072672e+00  2.567161e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.143010e+05  1.252700e+04  0.000000e+00  0.000000e+00  0.000000e+00
50%    2.338990e+05  5.034600e+04  0.000000e+00  0.000000e+00  0.000000e+00
75%    3.581100e+05  2.229240e+05  1.000000e+00  4.000000e+00  0.000000e+00
max    8.761440e+05  2.360649e+06  1.000000e+00  5.000000e+00  1.000000e+00

In [10]:
df["is_read"].unique()

array([1, 0])

In [11]:
df["is_reviewed"].unique()

array([0, 1])

### Transformación
1. Transformar tipos de datos según rangos.

In [12]:
df["user_id"] = df["user_id"].astype(np.uint32)
df["book_id"] = df["book_id"].astype(np.uint32)
df["rating"] = df["rating"].astype(np.uint8)
df["is_read"] = df["is_read"].astype(bool)
df["is_reviewed"] = df["is_reviewed"].astype(bool)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228648342 entries, 0 to 228648341
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      uint32
 1   book_id      uint32
 2   is_read      bool
 3   rating       uint8
 4   is_reviewed  bool
dtypes: bool(2), uint32(2), uint8(1)
memory usage: 2.3 GB