In [18]:
from core.goodreads import GoodReadsData
import gc

goodreads = GoodReadsData()
filename = goodreads.file_names[9]
filename

'user_id_map'

In [19]:
gc.collect()

0

# Análisis de `user_id_map`

In [20]:
import os
import numpy as np

In [21]:
# Download
if not os.path.exists(goodreads.get_file_path(filename)):
    goodreads.download_file(filename)
    
df = goodreads.load_file(filename)

### Análisis
1. Comprensión de datos.
2. Detección de `nan` o duplicados.
3. Detección de errores.

In [22]:
df.sample(5)

        user_id_csv                           user_id
249428       249428  1697b1c7b6f9e1b414c3a13efa9faae0
374853       374853  1456f3df3699b06c1380521de69a4820
620622       620622  ca171257d68207c9a75fa4ce5220d065
867298       867298  bbf29d7dc67b5db8bcbed40ce4b070ad
740124       740124  9e95f9d655d9eefa6a12e7cfcad9d1f4

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876145 entries, 0 to 876144
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id_csv  876145 non-null  int64
 1   user_id      876145 non-null  object
dtypes: int64(1), object(1)
memory usage: 13.4+ MB

In [24]:
(df["user_id"] == "").sum()

np.int64(0)

In [25]:
df["user_id_csv"].isna().sum()

np.int64(0)

In [26]:
df["user_id"].duplicated().sum()

np.int64(0)

In [27]:
df["user_id_csv"].duplicated().sum()

np.int64(0)

In [28]:
df["user_id_csv"].describe()

count    876145.000000
mean     438072.000000
std      252921.420137
min           0.000000
25%      219036.000000
50%      438072.000000
75%      657108.000000
max      876144.000000
Name: user_id_csv, dtype: float64

### Transformación
1. Correción de posibles errores en `user_id`.
2. Transformación de tipos de datos.

In [29]:
df["user_id"] = df["user_id"].str.replace(r"\s+", "", regex=True)

In [ ]:
df["user_id"] = df["user_id"].astype("string")
df["user_id_csv"] = df["user_id_csv"].astype(np.uint32)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876145 entries, 0 to 876144
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id_csv  876145 non-null  uint32
 1   user_id      876145 non-null  string
dtypes: string(1), uint32(1)
memory usage: 10.0 MB