In [1]:
from core.goodreads import GoodReadsData
import gc

goodreads = GoodReadsData()
filename = goodreads.file_names[3]
filename

'goodreads_books'

In [2]:
gc.collect()

0

# Análisis de `goodreads_books`

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
# Download
if not os.path.exists(goodreads.get_file_path(filename)):
    goodreads.download_file(filename)
    
goodreads.count_samples("goodreads_books")

2360655

In [5]:
# Load
df = goodreads.load_file_range(filename, (0, 99999))

In [6]:
def get_limits(c: str) -> tuple[int, int]:
    return df.loc[df[c]!="", c].astype(np.int64).min(), df.loc[df[c]!="", c].astype(np.int64).max()

### Análisis

In [7]:

df.sample(5)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
55425,0646925504,1,[],US,eng,"[{'count': '21', 'name': 'to-read'}, {'count':...",,false,5.00,,...,,,2014,https://www.goodreads.com/book/show/26515578-d...,https://images.gr-assets.com/books/1442222561m...,26515578,2,46508006,Dear H,Dear H
42898,,19,[],US,,"[{'count': '890', 'name': 'to-read'}, {'count'...",B0069CJOEQ,true,3.93,B00BOATQBO,...,11,,2011,https://www.goodreads.com/book/show/13511246-c...,https://images.gr-assets.com/books/1330891105m...,13511246,180,10525623,Cold Lonely Courage,Cold Lonely Courage
62286,0520038495,1,[],US,,"[{'count': '15', 'name': 'to-read'}, {'count':...",,false,3.12,,...,7,,1979,https://www.goodreads.com/book/show/1613415.Fo...,https://s.gr-assets.com/assets/nophoto/book/11...,1613415,8,1607220,For Harmony and Strength: Japanese White-Colla...,For Harmony and Strength: Japanese White-Colla...
85616,1605434159,1,[],US,,"[{'count': '3', 'name': 'to-read'}, {'count': ...",,false,3.00,,...,5,,2010,https://www.goodreads.com/book/show/8446276-th...,https://s.gr-assets.com/assets/nophoto/book/11...,8446276,5,13310172,The Trail of the Cloven Hoof,The Trail of the Cloven Hoof
14017,,54,[702028],US,eng,"[{'count': '192', 'name': 'to-read'}, {'count'...",B00NH8G7TK,true,4.07,,...,,,,https://www.goodreads.com/book/show/23315077-l...,https://s.gr-assets.com/assets/nophoto/book/11...,23315077,1338,42869559,"Love & War (Chosen by the Vampire Kings, #0.3)","Love & War (Chosen by the Vampire Kings, #0.3)"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   isbn                  100000 non-null  object
 1   text_reviews_count    100000 non-null  object
 2   series                100000 non-null  object
 3   country_code          100000 non-null  object
 4   language_code         100000 non-null  object
 5   popular_shelves       100000 non-null  object
 6   asin                  100000 non-null  object
 7   is_ebook              100000 non-null  object
 8   average_rating        100000 non-null  object
 9   kindle_asin           100000 non-null  object
 10  similar_books         100000 non-null  object
 11  description           100000 non-null  object
 12  format                100000 non-null  object
 13  link                  100000 non-null  object
 14  authors               100000 non-null  object
 15  publisher             100000 non-null  object
 16  num_pages             100000 non-null  object
 17  publication_day       100000 non-null  object
 18  isbn13                100000 non-null  object
 19  publication_month     100000 non-null  object
 20  edition_information   100000 non-null  object
 21  publication_year      100000 non-null  object
 22  url                   100000 non-null  object
 23  image_url             100000 non-null  object
 24  book_id               100000 non-null  object
 25  ratings_count         100000 non-null  object
 26  work_id               100000 non-null  object
 27  title                 100000 non-null  object
 28  title_without_series  100000 non-null  object
dtypes: object(29)
memory usage: 22.1+ MB

In [9]:
(df == "").sum()

isbn                    41381
text_reviews_count         19
series                      0
country_code               18
language_code           44885
popular_shelves             0
asin                    80114
is_ebook                   18
average_rating             19
kindle_asin             56880
similar_books               0
description             17304
format                  27459
link                       19
authors                     0
publisher               27647
num_pages               32376
publication_day         43280
isbn13                  32833
publication_month       37302
edition_information     90834
publication_year        25447
url                        19
image_url                  18
book_id                     0
ratings_count              19
work_id                    19
title                       0
title_without_series        0
dtype: int64

In [10]:
for c in ["series", "popular_shelves", "authors", "similar_books"]:
    print(f"{c}: {df[c].apply(lambda x: len(x) == 0).sum()}")

series: 68481
popular_shelves: 1665
authors: 19
similar_books: 53011

Exiten muchos `nan` ocultos pero sorprenden 19 de `authors`, `url`, `work_id`...

In [11]:
df[df["work_id"]==""].sample(5)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
25874,,,[],US,spa,[],,true,,,...,,,,,https://images.gr-assets.com/books/1427496832m...,25232185,,,El Remanso,El Remanso
26725,,,[],,,[],,,,,...,,,,,,25763989,,,"Until June (Until Her, #2)","Until June (Until Her, #2)"
90860,,,[],,,[],,,,,...,,,,,,31128368,,,The Silence of the Asonu,The Silence of the Asonu
1687,,,[],,,[],,,,,...,,,,,,23699819,,,Infinity Man and the Forever People #1 (The Ne...,Infinity Man and the Forever People #1 (The Ne...
65712,,,[],,,[],,,,,...,,,,,,36324095,,,SPOILED,SPOILED

In [12]:
df[list(set(df.columns)-set({"series", "popular_shelves", "authors", "similar_books"}))].nunique()

is_ebook                     3
country_code                 2
language_code               96
publisher                22498
isbn                     58620
publication_year           241
num_pages                 1194
ratings_count             3762
work_id                  92654
image_url                58421
description              81218
asin                     19887
link                     99982
kindle_asin              41519
book_id                 100000
publication_day             32
edition_information       3586
text_reviews_count        1069
publication_month           13
format                     262
title_without_series     95876
isbn13                   67168
title                    95876
url                      99982
average_rating             319
dtype: int64

Observamos como algunas componentes es posible que se puedan trasnformar a `category`: `country_code`, `language_id` y `format`.

In [13]:
df.columns

Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'link', 'authors',
       'publisher', 'num_pages', 'publication_day', 'isbn13',
       'publication_month', 'edition_information', 'publication_year', 'url',
       'image_url', 'book_id', 'ratings_count', 'work_id', 'title',
       'title_without_series'],
      dtype='object')

In [14]:
df["isbn"].str.strip().str.startswith("0").sum()

np.int64(28508)

In [15]:
df["isbn13"].str.strip().str.startswith("0").sum()

np.int64(99)

In [16]:
((df["isbn"]!="") & (df["isbn13"]!="") & (df["isbn"]==df["isbn13"])).sum()

np.int64(4)

In [17]:
((df["isbn"]!="") & (df["isbn13"]!="") & (df["isbn"]!=df["isbn13"])).sum()

np.int64(56108)

Son una `string` (no un `integer`) dado que muchos valores empiezan por `0`. Ambos, `isbn` e `isbn13`, aunque algunos coinciden, no tienen porqué ser el mismo.

In [18]:
df.loc[df["text_reviews_count"]!="", "text_reviews_count"].astype(np.int64).describe()

count    99981.000000
mean        29.506946
std        338.328231
min          0.000000
25%          2.000000
50%          4.000000
75%         12.000000
max      53601.000000
Name: text_reviews_count, dtype: float64

Aunque se podría utilizar `uint16` es posible que algunos registros que no se está analizando superen la cifra máxima y se necesiten 32 bits.

In [19]:
df.loc[df["series"].apply(lambda x: len(x)).sort_values(ascending=False).index, "series"].head(1)

59884    [389764, 430319, 1102675, 1111645]
Name: series, dtype: object

In [20]:
df.loc[59884, "series"]

['389764', '430319', '1102675', '1111645']

Se corresponden con índices que se debrán transformar en `integers`.

In [21]:
df["country_code"].unique()

array(['US', ''], dtype=object)

In [22]:
df["language_code"].unique()

array(['', 'eng', 'ger', 'spa', 'en-US', 'ita', 'per', 'en-GB', 'tur',
       'ind', 'mon', 'fre', 'por', 'ara', 'en-CA', 'tha', 'lav', 'jpn',
       'pol', 'swe', 'kor', 'fin', 'msa', 'bul', 'nl', 'gre', 'slo',
       'nor', 'heb', 'hun', 'ben', 'scr', 'zho', 'fil', 'rus', 'lit',
       'rum', 'cze', 'dan', 'slv', 'nno', 'pes', 'hye', 'nob', 'cat',
       'en', 'vie', 'nep', 'mar', 'srp', 'urd', 'guj', 'est', 'sqi',
       'ukr', 'afr', 'mul', 'grc', 'kat', 'mkd', 'hin', 'tam', 'mus',
       '--', 'bos', 'enm', 'gla', 'isl', 'glg', 'mal', 'kur', 'wel',
       'pt-BR', 'crh', 'tel', 'es-MX', 'kan', 'mya', 'fao', 'aze', 'ota',
       'arw', 'pra', 'tgl', 'lat', 'dum', 'eus', 'sin', 'mlt', 'ada',
       'apa', 'udm', 'peo', 'bel', 'iro', 'nld'], dtype=object)

In [23]:
df.loc[df["popular_shelves"].apply(lambda x: len(x)).sort_values(ascending=False).index, "popular_shelves"].head(1)

99999    [{'count': '687', 'name': 'to-read'}, {'count'...
Name: popular_shelves, dtype: object

In [24]:
df.loc[99999, "popular_shelves"]

[{'count': '687', 'name': 'to-read'},
 {'count': '61', 'name': 'historical-fiction'},
 {'count': '16', 'name': 'fiction'},
 {'count': '10', 'name': 'historical'},
 {'count': '10', 'name': 'currently-reading'},
 {'count': '5', 'name': 'romance'},
 {'count': '4', 'name': 'fantasy'},
 {'count': '3', 'name': 'ghosts'},
 {'count': '3', 'name': 'owned'},
 {'count': '3', 'name': 'ya'},
 {'count': '3', 'name': 'books-i-own'},
 {'count': '3', 'name': 'kindle'},
 {'count': '3', 'name': 'history'},
 {'count': '2', 'name': 'historical-fiction-romance'},
 {'count': '2', 'name': 'paranormal'},
 {'count': '2', 'name': 'favorites'},
 {'count': '2', 'name': 'american'},
 {'count': '2', 'name': 'borrowed-library'},
 {'count': '2', 'name': 'english'},
 {'count': '2', 'name': '19th-century'},
 {'count': '2', 'name': 'library'},
 {'count': '2', 'name': 'wish-list'},
 {'count': '1', 'name': 'writers'},
 {'count': '1', 'name': 'books-i-want-to-read-fiction'},
 {'count': '1', 'name': 'books'},
 {'count': '1', 'name': 'my-crazy-long-tbr'},
 {'count': '1', 'name': 'to-read-get'},
 {'count': '1', 'name': 'little-library'},
 {'count': '1', 'name': 'no-thanks-sir-ghost'},
 {'count': '1', 'name': 'up-all-nights'},
 {'count': '1', 'name': 'next-in-line'},
 {'count': '1', 'name': 'real-life-authors-in-fiction'},
 {'count': '1', 'name': 'letdown-or-tried-too-hard'},
 {'count': '1', 'name': 'books-about-books'},
 {'count': '1', 'name': 'order-soon'},
 {'count': '1', 'name': 'poeish'},
 {'count': '1', 'name': 'adult-non-ya-fiction'},
 {'count': '1', 'name': '2017-reading'},
 {'count': '1', 'name': 'ya-to-read'},
 {'count': '1', 'name': 'books-owned-but-unread'},
 {'count': '1', 'name': 'tr-fan-nov'},
 {'count': '1', 'name': 'books-to-borrow'},
 {'count': '1', 'name': 'kindle-wishlist'},
 {'count': '1', 'name': 'read-owned'},
 {'count': '1', 'name': 'general-fiction'},
 {'count': '1', 'name': 'curious'},
 {'count': '1', 'name': 'next-up'},
 {'count': '1', 'name': 'book-i-own-to-read'},
 {'count': '1', 'name': 'poe'},
 {'count': '1', 'name': 'not-owned-or-library'},
 {'count': '1', 'name': 'adult-historical-fiction'},
 {'count': '1', 'name': 'own-but-haven-t-read-yet'},
 {'count': '1', 'name': 'upcoming'},
 {'count': '1', 'name': 'bc95'},
 {'count': '1', 'name': 'postponed'},
 {'count': '1', 'name': 'currently-reading-but-not-reading'},
 {'count': '1', 'name': 'to-read-h'},
 {'count': '1', 'name': 'favorite-authors'},
 {'count': '1', 'name': 'unread-1800s'},
 {'count': '1', 'name': 'the-south'},
 {'count': '1', 'name': 'poelandia'},
 {'count': '1', 'name': 'novels'},
 {'count': '1', 'name': 'from-the-stacks'},
 {'count': '1', 'name': 'chestnut-lodge'},
 {'count': '1', 'name': 'to-read-in-my-lifetime'},
 {'count': '1', 'name': 'rip-reading-challenge'},
 {'count': '1', 'name': 'buy'},
 {'count': '1', 'name': 'physical-bookshelf'},
 {'count': '1', 'name': 'have-but-not-read'},
 {'count': '1', 'name': 'library-sp'},
 {'count': '1', 'name': 'books-jo-read-in-high-school'},
 {'count': '1', 'name': 'fantasy-horror-paranormal-syfy'},
 {'count': '1', 'name': 'historical-novel'},
 {'count': '1', 'name': '2015-mount-tbr'},
 {'count': '1', 'name': 'based-on-real-people'},
 {'count': '1', 'name': 'contemporary-historical-fiction'},
 {'count': '1', 'name': 'need-to-get'},
 {'count': '1', 'name': 'half-read'},
 {'count': '1', 'name': 'need-to-recommend-to-my-library'},
 {'count': '1', 'name': 'to-read-ya'},
 {'count': '1', 'name': 'to-read-own'},
 {'count': '1', 'name': 'did-not-finish-read'},
 {'count': '1', 'name': 'need-to-read-now'},
 {'count': '1', 'name': 'kindle-owned-not-read'},
 {'count': '1', 'name': 'victorian-era'},
 {'count': '1', 'name': 'fiction-contemporary'},
 {'count': '1', 'name': 'no-overdrive-fiction'},
 {'count': '1', 'name': 'random'},
 {'count': '1', 'name': '2011-books'},
 {'count': '1', 'name': 'set-aside'},
 {'count': '1', 'name': 'jmrl'},
 {'count': '1', 'name': 'young-adult-fiction'},
 {'count': '1', 'name': 'first-40-books'},
 {'count': '1', 'name': 'box-5-bcb'},
 {'count': '1', 'name': 'books-in-staff-room'},
 {'count': '1', 'name': 'bird-endcaps'},
 {'count': '1', 'name': 'artists'},
 {'count': '1', 'name': 'library-books'},
 {'count': '1', 'name': 'dnf-but-will-finish'},
 {'count': '1', 'name': 'not-yet'}]

In [25]:
df.loc[df["asin"]!="", "asin"].str.strip().sample(5)

43353    B00DP6478C
34557    B002D48Q84
22738    B00164X2N6
40332    B01DQ8I982
45318    B00H8ZTZVK
Name: asin, dtype: object

In [26]:
df["is_ebook"].unique()

array(['false', 'true', ''], dtype=object)

In [27]:
df.loc[df["kindle_asin"]!="", "kindle_asin"].sample(5)

46       B01AKT6JC8
96654    B01D2CSUJU
80180    B004OL2C7U
53812    B00TYVPDRG
21320    B00LIBM8KU
Name: kindle_asin, dtype: object

In [28]:
((df["asin"]!="") & (df["kindle_asin"]!="") & (df["asin"]==df["kindle_asin"])).sum()

np.int64(14921)

In [29]:
((df["asin"]!="") & (df["kindle_asin"]!="") & (df["asin"]!=df["kindle_asin"])).sum()

np.int64(1066)

In [30]:
df[(df["asin"]!="") & (df["kindle_asin"]!="") & (df["asin"]!=df["kindle_asin"])][["title", "asin", "kindle_asin"]].sample(5)

,title,asin,kindle_asin
11124,The Little Book of Titanic,B004ZH809C,B00P7SWDAU
44311,British Railways in the 1970s and '80s,B00D0O6UM0,B01BY349LW
16847,"Hindu Sex Aliens (The Island Trilogy,#3)",B015X0V244,B01GFCWSQA
46477,Objects in Mirror (Stonegate Series),B06WD5N492,B071DFM63C
67641,The Man in the Iron Mask (The D'Artagnan Roman...,B003BVIXTU,B0083Z50Z4

Aunque la mayoría de valores coinciden, exsiten algunos que no.

In [31]:
df.loc[df["average_rating"]!="", "average_rating"].astype(np.float32).describe()

count    99981.000000
mean         3.866388
std          0.535863
min          0.000000
25%          3.630000
50%          3.910000
75%          4.160000
max          5.000000
Name: average_rating, dtype: float64

In [32]:
df.loc[df["similar_books"].apply(lambda x: len(x)).sort_values(ascending=False).index, "similar_books"].head(1)

99999    [8581015, 9673072, 79381, 7755381, 8546464, 12...
Name: similar_books, dtype: object

In [33]:
df.loc[99999, "similar_books"]

['8581015',
 '9673072',
 '79381',
 '7755381',
 '8546464',
 '12910647',
 '8501353',
 '10616074',
 '11891563',
 '9559404',
 '10190826',
 '6931179',
 '10176903',
 '11495306',
 '3248557',
 '9554907',
 '9591515',
 '3864007']

In [34]:
df.loc[df["description"]!="", "description"].sample(1)

68408    THE NEW CHILLING, PROPULSIVE NOVEL FROM THE AU...
Name: description, dtype: object

In [35]:
df.loc[39401, "description"]

"Hamburg'un eski mahallesindeki kucuk bir evde, genc ve cekingen Axel, amcasi jeolog ve madenbilimci Profesor Lidenbrock'la birlikte calismaktadir. Delikanli, bu sabirsiz ve ofkeli profesorun yaninda yasayan guzel bir Estonyali kiza, Grauben'e asiktir. Bir gun profesor, eski bir elyazmasinin icinde bir sifre bulur ve hayatlari o andan itibaren altust olur. Onaltinci yuzyilin unlu Izlandali bilgini Arne Saknussemm, bu sifrede, Izlanda'daki sonmus yanardag Sneffels'in kraterinden Dunya'nin merkezine indigini aciklamaktadir! Profesor Lidenbrock buyuk bir heyecana kapilir ve yegeni Axel'le birlikte Izlanda'ya gider. Sakin ve sogukkanli rehberleri Hans'in esliginde, yanardagin gizemli derinliklerine inerler... Yerin altinda, surprizlerle dolu bir yolculuk onlari beklemektedir. Belleklere kazinmis bir Jules Verne klasigi... (Turkce'ye tam metin ceviri)."

In [36]:
df["format"].sort_values().str.strip().unique()

array(['', "'rb`@ 'jz fy mjlWdyn", '106x180', '13x20 cm', '14 x 21 cm',
       '15 x 22 cm', "4''x5'' Hardcover", 'A5 Paperback', 'Album',
       'Audible Audio', 'Audio', 'Audio CD', 'Audio CD (4 CD Set)',
       'Audio CD - Narrated by Campbell Scott', "Audio CD's", 'Audio CDs',
       'Audio Cassette', 'Audio Play', 'Audio mp3', 'Audiobook',
       'Audiobook, Unabridged Audiobook (11hrs 41min)',
       'Audiobook, Unabridged Audiobook (23hrs 30min)',
       'Audiobook, Unabridged Audiobook (8hrs 55min)', 'Bath Book',
       'Beauty', 'Bia mem', 'Board Book', 'Board book', 'Bolsillo',
       'Bolsillo con sobrecubierta', 'Book', 'Box', 'Boxed Set', 'Broche',
       'Brochura', 'Broschur', 'Brossura', 'Buku',
       'CBR - Comic Book Reader', 'CD-ROM', 'Capa Mole', 'Capa mole',
       'Casebound', 'Cell Phone Novel', 'Chapbook', "Children's Foam",
       'Cloth', 'Collection', 'Comic', 'Comic Book', 'Comics',
       'Custom Handmade Binding', 'DC Elseworld Series',
       'DVD lecture series', 'Dan Xing Ben', 'Dan Xing Ben (sohutokaba)',
       'Digital', 'Digital Comic', 'Download', 'E-Book, html, pdf',
       'E-book', 'E-chap', 'FC', 'Fancomic', 'Fanfiction (Harry Potter)',
       'Flexbound', 'Flexcover', 'Flipback', 'Folletin',
       'Free Online Fiction', 'Free Online Read', 'Free online fiction',
       'Free online read', 'Gebunden', 'Gebundene Ausgabe', 'Glf `dy',
       'Grapa', 'Graphic Novel', 'Graphic Novels', 'HARDCOVER',
       'Handmade Chapbook', 'Hard Cover', 'Hard cover', 'Hardback',
       'Hardbound', 'Hardcover', 'Hardcover with dust jacket',
       'Hardcover, illustrated', 'Illustrated', 'Inbunden', 'Innbundet',
       'Interactive eBook', 'Issue', 'Kindle &amp; Paperback edition',
       'Kindle Edition', 'Kindle Edition and Paperback',
       'Kindle edition and paperback', 'Klappbroschur', 'Klappenbroschur',
       'Large Hard Cover', 'Large Paperback', 'Large Print',
       'Large Print Paperback', 'Large print', 'Leather Bound',
       'Leather-Cloth', 'Leatherbound', 'Library Binding',
       'Library Bound', 'Livre ferme comme une boite', 'Livro de Bolso',
       'Livro papel', 'MP3 Audio', 'MP3 AudioBook', 'MP3 Audiobook',
       'MP3 Book', 'MP3 CD', 'Magazine', 'Mass Market',
       'Mass Market Paperback', 'NOOK ebook', 'Newsprint', 'Nook',
       'Novelty Book', 'Online', 'Online Fiction',
       'Online Fiction - Complete', 'Online Free Fiction',
       'Original online fiction', 'Other Format', 'Overdrive Audiobook',
       'PDF', 'Pamphlet', 'Papaerback', 'Papeback', 'Paper Back',
       'Paper back', 'Paper book', 'PaperBack', 'Paperback',
       'Paperback &amp; E-Book', 'Paperback (Large Print)',
       'Paperback , Ebook', 'Paperback - Ebook',
       'Paperback - Large Print', 'Paperback Manga',
       'Paperback and eBook', 'Paperback comic book',
       'Paperback in CD case', 'Paperback w/music CD',
       'Paperback with Connect Access', 'Paperback with flaps',
       'Paperback, ebook', 'Part-In-Omnibus', 'Pdf', 'Perfect Paperback',
       'Play Script', 'Poche', 'Pocket', 'Pocketbook', 'Podiobook',
       'Poetry', 'Preloaded Digital Audio Player', 'Proof',
       'Question/ Answer', 'Roman', 'Ruan Jing Zhuang', 'Russian',
       'Rustica', 'Rustica con sobrecubierta',
       'School &amp; Library Binding', 'Short Story', 'Short story',
       'Slipcased Hardcover', 'Soft Cover', 'Soft Cover Flap',
       'Softcover', 'Sony Reader', 'Spiral-bound', 'Stationery',
       'TAPA BLANDA CON SOLAPA', 'Tapa blanda con solapas',
       'Tapa flexible con solapas', 'Taschenbuch', 'Textbook Binding',
       'Trade', 'Trade Paperback', 'Trade paperback', 'Turtleback',
       'Tverdyi pereplet', 'Tverdyi pereplet (Hardcover)', 'Unbound',
       'Unknown Binding', 'Verse in categories', 'Wattpad',
       'Website Series', 'Webtoon', 'Wen Ku', 'Zine', 'a3',
       "artist's book", 'audio', 'audio cassette', 'audiobook', 'broche',
       'chapbook', 'chapbook with DVD', 'cloth', 'comics', 'diagram',
       'e book', 'e-book, digital format', 'e-chap', 'eBook Kindle',
       'ePUB', 'ebook', 'ebook &amp; paperback',
       'ebook and paperback option', 'free manga scanlation',
       'free online', 'free online fiction', 'glyngwr',
       'hand bound, saddle-stitched', 'hardback', 'hardcover', 'html',
       'journal', 'kovakantinen', 'krtwn mqwW~', 'mass market',
       'mass market paperback', 'multiformat ebook',
       'newsprint stapled folio', 'nook book', 'novel',
       'online fanfiction', 'online fiction', 'online novel',
       'online short story', 'pamphlet', 'paper', 'paperback',
       'paperback B format 197mm x 128mm', 'paperback and ebook',
       'paperbook &amp; ebook', 'paperfomat', 'papperback', 'pbk', 'pdf',
       'pepabatsuku', 'poetry chapbook', 'print or download', 'rq`y',
       'soft cover', 'softcover', 'tankoubon', 'trade paper',
       'trade paperback', 'unknown', 'wattpad', 'webtoon', 'wzyry'],
      dtype=object)

Se podría convertir a `category`. Se observa que existen valores similares que podrían pertencer a la misma categoría (tiene el mismo formato) por lo que es posible que valga la pena agrupar los formatos en formatos más generalizados.

In [37]:
df.loc[df["authors"].apply(lambda x: len(x)).sort_values(ascending=False).index, "authors"].head(1)

99019    [{'author_id': '1337779', 'role': 'Editor'}, {...
Name: authors, dtype: object

In [38]:
df.loc[99019, "authors"]

[{'author_id': '1337779', 'role': 'Editor'},
 {'author_id': '345630', 'role': 'Editor'},
 {'author_id': '330967', 'role': 'Contributor'},
 {'author_id': '1246635', 'role': 'Contributor'},
 {'author_id': '266774', 'role': 'Contributor'},
 {'author_id': '1463436', 'role': 'Contributor'},
 {'author_id': '202438', 'role': 'Contributor'},
 {'author_id': '93220', 'role': 'Contributor'},
 {'author_id': '3418947', 'role': 'Contributor'},
 {'author_id': '712210', 'role': 'Contributor'},
 {'author_id': '752161', 'role': 'Contributor'},
 {'author_id': '1404210', 'role': 'Contributor'},
 {'author_id': '1651879', 'role': 'Contributor'},
 {'author_id': '641402', 'role': 'Contributor'},
 {'author_id': '1686343', 'role': 'Contributor'},
 {'author_id': '200317', 'role': 'Contributor'},
 {'author_id': '20092', 'role': 'Contributor'},
 {'author_id': '2871046', 'role': 'Contributor'},
 {'author_id': '2096360', 'role': 'Contributor'},
 {'author_id': '27621', 'role': 'Contributor'},
 {'author_id': '1443712', 'role': 'Contributor'},
 {'author_id': '146783', 'role': 'Contributor'},
 {'author_id': '293603', 'role': 'Contributor'},
 {'author_id': '2989576', 'role': 'Contributor'},
 {'author_id': '237175', 'role': 'Contributor'},
 {'author_id': '286059', 'role': 'Contributor'},
 {'author_id': '1164465', 'role': 'Contributor'},
 {'author_id': '253326', 'role': 'Contributor'},
 {'author_id': '5176161', 'role': 'Contributor'},
 {'author_id': '27318', 'role': 'Contributor'},
 {'author_id': '62448', 'role': 'Contributor'},
 {'author_id': '3027554', 'role': 'Contributor'},
 {'author_id': '165006', 'role': 'Contributor'},
 {'author_id': '1435023', 'role': 'Contributor'},
 {'author_id': '3161105', 'role': 'Contributor'},
 {'author_id': '119814', 'role': 'Contributor'},
 {'author_id': '2905297', 'role': 'Contributor'},
 {'author_id': '2936493', 'role': 'Contributor'},
 {'author_id': '77172', 'role': 'Contributor'},
 {'author_id': '767547', 'role': 'Contributor'},
 {'author_id': '588558', 'role': 'Contributor'},
 {'author_id': '135047', 'role': 'Contributor'},
 {'author_id': '2765438', 'role': 'Contributor'},
 {'author_id': '3041743', 'role': 'Contributor'},
 {'author_id': '270479', 'role': 'Contributor'},
 {'author_id': '225455', 'role': 'Contributor'},
 {'author_id': '79922', 'role': 'Contributor'},
 {'author_id': '13730', 'role': 'Contributor'},
 {'author_id': '321338', 'role': 'Contributor'},
 {'author_id': '2821144', 'role': 'Contributor'},
 {'author_id': '58846', 'role': 'Contributor'}]

In [39]:
roles = []
for a in df.loc[99019, "authors"]:
    if (rol := a["role"]) not in roles: roles.append(rol)

print(roles)

['Editor', 'Contributor']

In [40]:
df["publisher"].sample(5)

54524
50479    Precious Pages Corp.
20420               JRT Books
99366        Siren Publishing
61127
Name: publisher, dtype: object

In [41]:
df.loc[df["num_pages"]!="", "num_pages"].astype(np.int64).describe()

count     67624.000000
mean        276.302629
std        3638.023322
min           0.000000
25%         147.000000
50%         246.000000
75%         344.000000
max      945077.000000
Name: num_pages, dtype: float64

In [42]:
df.loc[df["num_pages"]!="", "num_pages"].astype(np.int64).sort_values().head(5)

49685    0
36980    0
52002    0
81967    0
82778    0
Name: num_pages, dtype: int64

In [43]:
df.loc[[49685, 36980, 52002, 81967, 82778]]

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
49685,0545169771,1,[815645],US,,"[{'count': '43', 'name': 'to-read'}, {'count':...",,false,3.88,B0040ZNZI0,...,2,,2010,https://www.goodreads.com/book/show/7531795-mo...,https://images.gr-assets.com/books/1360057567m...,7531795,0,6904379,"Mom, There's A Dinosaur In Beeson's Lake - Audio","Mom, There's A Dinosaur In Beeson's Lake - Audio"
36980,0307755495,12,[532020],US,,"[{'count': '22439', 'name': 'to-read'}, {'coun...",,true,3.95,,...,5,,2010,https://www.goodreads.com/book/show/8297770-a-...,https://s.gr-assets.com/assets/nophoto/book/11...,8297770,65,940715,A Year in Provence,A Year in Provence
52002,0739321161,5,[181943],US,,"[{'count': '592', 'name': 'to-read'}, {'count'...",,false,3.95,B000FBJAZA,...,9,,2006,https://www.goodreads.com/book/show/5312294-mu...,https://images.gr-assets.com/books/1320550066m...,5312294,10,2216846,Mustang Man,Mustang Man
81967,1610452933,1,[],US,,"[{'count': '100758', 'name': 'to-read'}, {'cou...",,false,4.18,B006OTFP7E,...,11,,2011,https://www.goodreads.com/book/show/12318376-t...,https://images.gr-assets.com/books/1344675049m...,12318376,5,6552198,The Idiot,The Idiot
82778,1598596136,2,[204694],US,eng,"[{'count': '878', 'name': 'to-read'}, {'count'...",,false,3.68,B007FZOXJM,...,4,,2009,https://www.goodreads.com/book/show/6504625-fa...,https://s.gr-assets.com/assets/nophoto/book/11...,6504625,12,6292986,Face of Betrayal,Face of Betrayal

In [44]:
df["publication_month"].unique()

array(['9', '10', '', '7', '3', '5', '4', '6', '11', '12', '8', '1', '2'],
      dtype=object)

In [45]:
df["publication_day"].unique()

array(['1', '', '14', '13', '3', '6', '10', '25', '8', '28', '31', '22',
       '9', '4', '20', '26', '2', '24', '23', '16', '7', '30', '12', '17',
       '11', '18', '15', '21', '27', '29', '19', '5'], dtype=object)

In [46]:
df.loc[df["edition_information"]!="", "edition_information"].sample(5)

38347                          Gli Adelphi  #355
63334                                      First
7736                                       First
63756    Classic Edition (Original 1937 Edition)
92195         Silhouette Romantic Suspense #1586
Name: edition_information, dtype: object

In [47]:
df.loc[df["publication_year"]!="", "publication_year"].astype(np.int64).describe()

count    74553.000000
mean      2007.530817
std        281.158530
min          0.000000
25%       2004.000000
50%       2011.000000
75%       2014.000000
max      65535.000000
Name: publication_year, dtype: float64

In [48]:
df.loc[df["publication_year"]!="", "publication_year"].astype(np.int64).sort_values().head()

89562     0
8465     10
89458    12
34083    12
28048    12
Name: publication_year, dtype: int64

In [49]:
df.loc[[89562, 8465, 89458, 34083, 28048]]

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
89562,,2,[],US,,"[{'count': '18', 'name': 'to-read'}, {'count':...",,false,3.79,,...,,,0,https://www.goodreads.com/book/show/1947739.al...,https://s.gr-assets.com/assets/nophoto/book/11...,1947739,19,1950555,alfred hitchcock's shrouds and pockets 29 shor...,alfred hitchcock's shrouds and pockets 29 shor...
8465,,1,[],US,,"[{'count': '1', 'name': 'to-read'}]",,true,5.00,,...,10,,10,https://www.goodreads.com/book/show/20518358-n...,https://images.gr-assets.com/books/1389537603m...,20518358,2,36379662,night song of the last train: a glasgow story,night song of the last train: a glasgow story
89458,,10,[612606],US,eng,"[{'count': '132', 'name': 'to-read'}, {'count'...",,true,3.48,,...,12,eBook,12,https://www.goodreads.com/book/show/17187684-m...,https://images.gr-assets.com/books/1356744245m...,17187684,12,23638037,Mulogo's Treatise on Wizardry - A Wizard's Gui...,Mulogo's Treatise on Wizardry - A Wizard's Gui...
34083,,9,[],US,en-GB,"[{'count': '39', 'name': 'to-read'}, {'count':...",B0089B2QP4,true,4.07,B0089B2QP4,...,6,1,12,https://www.goodreads.com/book/show/15702377-b...,https://images.gr-assets.com/books/1375092118m...,15702377,29,21362753,Beatitudes: How to Live a Blessed Life,Beatitudes: How to Live a Blessed Life
28048,,5,[],US,eng,"[{'count': '69', 'name': 'to-read'}, {'count':...",,true,4.05,,...,10,,12,https://www.goodreads.com/book/show/16055111-h...,https://images.gr-assets.com/books/1349017905m...,16055111,13,21840363,Halloween Heat II Menage,Halloween Heat II Menage

In [50]:
df.loc[df["publication_year"]!="", "publication_year"].astype(np.int64).sort_values(ascending=False).head()

85035    65535
67328    21017
25109    20122
23531    20112
83963    20112
Name: publication_year, dtype: int64

In [51]:
df.loc[[85035, 67328, 25109, 23531, 83963]]

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
85035,1500962074,3,[],US,eng,"[{'count': '238', 'name': 'to-read'}, {'count'...",,false,4.33,B00OQKUALE,...,10,1st,65535,https://www.goodreads.com/book/show/23622693-n...,https://images.gr-assets.com/books/1417069505m...,23622693,3,43228172,Nobody's Here But Us,Nobody's Here But Us
67328,9025873014,1,[],US,nl,"[{'count': '17', 'name': 'to-read'}, {'count':...",,false,3.57,,...,9,,21017,https://www.goodreads.com/book/show/36412964-i...,https://images.gr-assets.com/books/1508008537m...,36412964,2,57660890,Imagine,Imagine
25109,,1,[],US,rus,"[{'count': '1', 'name': 'sunday-read'}]",,false,3.60,,...,,,20122,https://www.goodreads.com/book/show/17288842,https://images.gr-assets.com/books/1359291670m...,17288842,5,23910042,Разделить на сто,Разделить на сто
23531,,1,[],US,eng,"[{'count': '270', 'name': 'to-read'}, {'count'...",B008G1BT78,true,3.65,B008G1BT78,...,6,Kindle Edition,20112,https://www.goodreads.com/book/show/15729997-t...,https://images.gr-assets.com/books/1341086921m...,15729997,1,43249310,The Fractured Hues of White Light,The Fractured Hues of White Light
83963,,3,[],US,eng,"[{'count': '1', 'name': 'did-not-finish'}, {'c...",B0089MSVKW,true,4.50,B0089MSVKW,...,6,,20112,https://www.goodreads.com/book/show/15739299-p...,https://images.gr-assets.com/books/1341602006m...,15739299,2,21424560,Presage,Presage

In [52]:
df.loc[23531, "url"]

'https://www.goodreads.com/book/show/15729997-the-fractured-hues-of-white-light'

Comprobando las fechas, aunque las de años tempranos resultan extrañas, así están indicadas en la web. sin embargo, las de años altos, observamos algunas diferencias con la web, ya sea porque en el momento de captura la información de la web no era correcta (como sucede actualmente con `23531`) o errores al guardar el dato.

In [53]:
((df["url"]!="") & (df["link"]!="") & (df["url"]!=df["link"])).sum()

np.int64(0)

In [54]:
(df[["url", "link"]] == "").sum()

url     19
link    19
dtype: int64

Ambas columnas `link` e `url` son exactamente iguales.

In [55]:
df["image_url"].sample()

3392    https://images.gr-assets.com/books/1344865442m...
Name: image_url, dtype: object

Liks desactualizados (`Not Found`)

In [56]:
df["book_id"].astype(np.int64).duplicated().sum()

np.int64(0)

In [57]:
df.loc[df["work_id"]!="", "work_id"].astype(np.int64).duplicated(keep=False).sum()

np.int64(12171)

In [58]:
df[df["work_id"].duplicated(keep=False)].sort_values("work_id", ascending=False).head(4)

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
28164,0330507419,2,[629650],US,en-US,"[{'count': '3688', 'name': 'to-read'}, {'count...",,false,4.47,,...,3,Special 10th Anniversary Edition,2009,https://www.goodreads.com/book/show/7947324-th...,https://images.gr-assets.com/books/1353994921m...,7947324,7,999507,The Gruffalo,The Gruffalo
33583,0142403873,31,[629650],US,en-US,"[{'count': '3688', 'name': 'to-read'}, {'count...",,false,4.47,,...,3,,2006,https://www.goodreads.com/book/show/1066190.Th...,https://images.gr-assets.com/books/1309287212m...,1066190,516,999507,The Gruffalo,The Gruffalo
63348,,3,[629650],US,nl,"[{'count': '3688', 'name': 'to-read'}, {'count...",,false,4.47,,...,4,,2017,https://www.goodreads.com/book/show/34835662-d...,https://images.gr-assets.com/books/1491857519m...,34835662,12,999507,De Gruffalo,De Gruffalo
63612,0064400808,169,[242797],US,eng,"[{'count': '2743', 'name': 'to-read'}, {'count...",,false,4.08,,...,10,,1976,https://www.goodreads.com/book/show/278223.On_...,https://images.gr-assets.com/books/1310688796m...,278223,7813,999046,On the Way Home: The Diary of a Trip from Sout...,On the Way Home: The Diary of a Trip from Sout...

In [59]:
df.loc[[28164, 33583, 63348], "url"]

28164    https://www.goodreads.com/book/show/7947324-th...
33583    https://www.goodreads.com/book/show/1066190.Th...
63348    https://www.goodreads.com/book/show/34835662-d...
Name: url, dtype: object

Existen `work_id` duplicados que pertenecen al mismo libro pero a ediciones diferentes.

In [60]:
df.loc[df["ratings_count"]!="", "ratings_count"].astype(np.int64).describe()

count    9.998100e+04
mean     3.997095e+02
std      8.288495e+03
min      0.000000e+00
25%      6.000000e+00
50%      2.100000e+01
75%      8.100000e+01
max      1.848782e+06
Name: ratings_count, dtype: float64

In [61]:
(df["title"].str.strip() != df["title_without_series"].str.strip()).sum()

np.int64(0)

In [62]:
(df["title_without_series"].str.strip() != df["title"].str.strip()).sum()

np.int64(0)

Ambas columnas `title` y `title_without_series` contienen exactamente la misma información.

### Transformación
1. Eliminamos columnas redundantes o sin información relevante.
2. Calculamos valores mínimos y máximos.
3. Aplicamos transformaciones.
4. Añadimos valores `nan`.

In [63]:
df.drop(columns=["title_without_series", "link", "image_url", "edition_information"], inplace=True)

In [64]:
df.columns

Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'authors', 'publisher',
       'num_pages', 'publication_day', 'isbn13', 'publication_month',
       'publication_year', 'url', 'book_id', 'ratings_count', 'work_id',
       'title'],
      dtype='object')

In [65]:
for c in ["text_reviews_count", "num_pages", "publication_day", "publication_month", 
          "publication_year", "book_id", "work_id"]:
      
      min, max = get_limits(c)
      print(f"{c}: min={min}, max={max}")

text_reviews_count: min=0, max=53601
num_pages: min=0, max=945077
publication_day: min=1, max=31
publication_month: min=1, max=12
publication_year: min=0, max=65535
book_id: min=224, max=36524503
work_id: min=40, max=58364079

In [66]:
i_nan = df["isbn"] == ""
trc_nan = df["text_reviews_count"] == ""
s_nan = df["series"].apply(lambda x: len(x)==0)
cc_nan = df["country_code"] == ""
lc_nan = df["language_code"] == ""
ps_nan = df["popular_shelves"].apply(lambda x: len(x)==0)
as_nan = df["asin"] == ""
ie_nan = df["is_ebook"] == ""
ar_nan = df["average_rating"] == ""
ka_nan = df["kindle_asin"] == ""
sm_nan = df["similar_books"].apply(lambda x: len(x)==0)
d_nan = df["description"] == ""
f_nan = df["format"] == ""
a_nan = df["authors"].apply(lambda x: len(x)==0)
p_nan = df["publisher"] == ""
np_nan = df["num_pages"] == ""
pd_nan = df["publication_day"] == ""
pm_nan = df["publication_month"] == ""
py_nan = df["publication_year"] == ""
i13 = df["isbn13"] == ""
u_nan = df["url"] == ""
rc_nan = df["ratings_count"] == ""
wi_nan = df["work_id"] == ""

In [67]:
df.loc[trc_nan, "text_reviews_count"] = 0
df.loc[ar_nan, "average_rating"] = 0
df.loc[np_nan, "num_pages"] = 0
df.loc[pd_nan, "publication_day"] = 0
df.loc[pm_nan, "publication_month"] = 0
df.loc[py_nan, "publication_year"] = 0
df.loc[rc_nan, "ratings_count"] = 0
df.loc[wi_nan, "work_id"] = 0

df["isbn"] = df["isbn"].str.replace(r"\s+", "", regex=True)
df["country_code"] = df["country_code"].str.replace(r"\s+", "", regex=True)
df["language_code"] = df["language_code"].str.replace(r"\s+", "", regex=True)
df["asin"] = df["asin"].replace(r"\s+", "", regex=True)
df["kindle_asin"] = df["kindle_asin"].str.replace(r"\s+", "", regex=True)
df["description"] = df["description"].str.strip()
df["format"] = df["format"].str.strip()
df["publisher"] = df["publisher"].str.strip()
df["isbn13"] = df["isbn13"].str.replace(r"\s+", "", regex=True)
df["url"] = df["url"].str.replace(r"\s+", "", regex=True)

In [68]:
df["is_ebook"] = df["is_ebook"].replace({"true": 1, "false": 0, "": 0}).astype(int)

/var/folders/m7/77lvlvzx48l12lyd4t6xxy4w0000gn/T/ipykernel_14445/1590059559.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["is_ebook"] = df["is_ebook"].replace({"true": 1, "false": 0, "": 0}).astype(int)

In [69]:
df["isbn"] = df["isbn"].astype("string")
df["text_reviews_count"] = df["text_reviews_count"].astype(np.uint32)
df["series"] = df["series"].apply(lambda lst: [int(s_id) for s_id in lst])
df["country_code"] = df["country_code"].astype("category")
df["language_code"] = df["language_code"].astype("category")
df["popular_shelves"] = df["popular_shelves"].apply(
    lambda lst: [{"count": int(shelf["count"]), "name": shelf["name"]} for shelf in lst])
df["asin"] = df["asin"].astype("string")
df["is_ebook"] = df["is_ebook"].astype(np.uint8)
df["average_rating"] = df["average_rating"].astype(np.float16)
df["kindle_asin"] = df["kindle_asin"].astype("string")
df["similar_books"] = df["similar_books"].apply(lambda lst: [int(b_id) for b_id in lst])
df["description"] = df["description"].astype("string")
df["format"] = df["format"].astype("category")
df["authors"] = df["authors"].apply(
    lambda lst: [{"author_id": int(a["author_id"]), "role": a["role"]} for a in lst]) 
df["publisher"] = df["publisher"].astype("string") # ¿¿ category ??
df["num_pages"] = df["num_pages"].astype(np.uint32)
df["isbn13"] = df["isbn13"].astype("string")
df["publication_month"] = df["publication_month"].astype(np.uint8)
df["publication_day"] = df["publication_day"].astype(np.uint8)
df["publication_year"] = df["publication_year"].astype(np.uint16)
df["url"] = df["url"].astype("string")
df["book_id"] = df["book_id"].astype(np.uint32)
df["ratings_count"] = df["ratings_count"].astype(np.uint32)
df["work_id"] = df["work_id"].astype(np.uint32)
df["title"] = df["title"].astype("string")

In [70]:
df.loc[84, "series"]

[246830, 362583, 362581, 623032]

In [71]:
df["popular_shelves"].iloc[1]

[{'count': 2634, 'name': 'to-read'},
 {'count': 160, 'name': 'fiction'},
 {'count': 92, 'name': 'currently-reading'},
 {'count': 25, 'name': 'contemporary-fiction'},
 {'count': 22, 'name': 'owned'},
 {'count': 19, 'name': 'book-club'},
 {'count': 17, 'name': 'chick-lit'},
 {'count': 16, 'name': 'friendship'},
 {'count': 15, 'name': 'books-i-own'},
 {'count': 12, 'name': 'novel'},
 {'count': 12, 'name': 'general-fiction'},
 {'count': 11, 'name': 'anita-diamant'},
 {'count': 10, 'name': 'owned-books'},
 {'count': 10, 'name': 'contemporary'},
 {'count': 10, 'name': 'women'},
 {'count': 8, 'name': 'adult'},
 {'count': 7, 'name': 'default'},
 {'count': 7, 'name': 'favorites'},
 {'count': 7, 'name': 'didn-t-finish'},
 {'count': 6, 'name': 'own-it'},
 {'count': 6, 'name': 'library'},
 {'count': 6, 'name': 'new-england'},
 {'count': 6, 'name': 'bookclub'},
 {'count': 6, 'name': 'women-s-fiction'},
 {'count': 5, 'name': 'breast-cancer'},
 {'count': 5, 'name': 'beach-ocean'},
 {'count': 5, 'name': 'audio-book'},
 {'count': 5, 'name': 'historical-fiction'},
 {'count': 5, 'name': 'my-library'},
 {'count': 5, 'name': '2006'},
 {'count': 5, 'name': 'literature'},
 {'count': 5, 'name': 'audiobook'},
 {'count': 4, 'name': 'read-2015'},
 {'count': 4, 'name': 'diamant'},
 {'count': 4, 'name': 'audio-books'},
 {'count': 4, 'name': 'diamant-anita'},
 {'count': 4, 'name': 'adult-fiction'},
 {'count': 4, 'name': 'my-books'},
 {'count': 4, 'name': 'jewish'},
 {'count': 4, 'name': 'novels'},
 {'count': 4, 'name': 'library-book'},
 {'count': 4, 'name': '2002'},
 {'count': 3, 'name': 'read-2016'},
 {'count': 3, 'name': 'relationships'},
 {'count': 3, 'name': 'female-friendship'},
 {'count': 3, 'name': 'favorite-authors'},
 {'count': 3, 'name': 'kindle'},
 {'count': 3, 'name': 'have'},
 {'count': 3, 'name': 'strong-women'},
 {'count': 3, 'name': 'cancer'},
 {'count': 3, 'name': 'own-to-read'},
 {'count': 3, 'name': 'audiobooks'},
 {'count': 3, 'name': 'read-2011'},
 {'count': 3, 'name': 'audio'},
 {'count': 3, 'name': 'drama'},
 {'count': 3, 'name': 'read-2009'},
 {'count': 3, 'name': 'i-own'},
 {'count': 3, 'name': 'book-group'},
 {'count': 3, 'name': 'american'},
 {'count': 3, 'name': 'fiction-general'},
 {'count': 3, 'name': 'chicklit'},
 {'count': 3, 'name': 'book-club-books'},
 {'count': 2, 'name': 'hardback'},
 {'count': 2, 'name': 'my-personal-library'},
 {'count': 2, 'name': 'read-in-2017'},
 {'count': 2, 'name': 'read-2017'},
 {'count': 2, 'name': 'the-lewis-library'},
 {'count': 2, 'name': 'ficton'},
 {'count': 2, 'name': 'home'},
 {'count': 2, 'name': 'books'},
 {'count': 2, 'name': 'read-in-2015'},
 {'count': 2, 'name': 'listened'},
 {'count': 2, 'name': 'ebook'},
 {'count': 2, 'name': 'bookclub-books'},
 {'count': 2, 'name': 'to-buy'},
 {'count': 2, 'name': 'my-home-library'},
 {'count': 2, 'name': 'summer-reading'},
 {'count': 2, 'name': 'home-bookshelf'},
 {'count': 2, 'name': 'family'},
 {'count': 2, 'name': 'tbi-book-club'},
 {'count': 2, 'name': 'wish-list'},
 {'count': 2, 'name': 'own-book'},
 {'count': 2, 'name': 'unfinished'},
 {'count': 2, 'name': 'fiction-contemporary'},
 {'count': 2, 'name': 'adult-books'},
 {'count': 2, 'name': 'books-i-have'},
 {'count': 2, 'name': 'paperback'},
 {'count': 2, 'name': 'books-in-my-library'},
 {'count': 2, 'name': 'summer-reads'},
 {'count': 2, 'name': 'read-in-2011'},
 {'count': 2, 'name': 'read-in-2010'},
 {'count': 2, 'name': 'gave-up'},
 {'count': 2, 'name': 'book-club-picks'},
 {'count': 2, 'name': 'spiritual'},
 {'count': 2, 'name': 'realistic-fiction'},
 {'count': 2, 'name': 'beach-read'},
 {'count': 2, 'name': 'unread-books-i-own'},
 {'count': 2, 'name': 'read-in-2008'},
 {'count': 2, 'name': 'in-my-library'},
 {'count': 2, 'name': 'general'}]

In [72]:
df.loc[1, "similar_books"]

[8709549,
 17074050,
 28937,
 158816,
 228563,
 11296581,
 1073987,
 7298465,
 1274862,
 18290554,
 86382,
 343067,
 2774907,
 663892,
 1233981,
 298912,
 401091,
 307575]

In [73]:
df.loc[26, "authors"]

[{'author_id': 166520, 'role': ''},
 {'author_id': 166517, 'role': 'Editor'},
 {'author_id': 3958428, 'role': 'Editor'},
 {'author_id': 3958429, 'role': 'Translator'}]

In [74]:
df.loc[i_nan, "isbn"] = np.nan
df.loc[trc_nan, "text_reviews_count"] = np.nan
df.loc[s_nan, "series"] = np.nan
df.loc[cc_nan, "country_code"] = np.nan
df.loc[lc_nan, "language_code"] = np.nan
df.loc[ps_nan, "popular_shelves"] = np.nan
df.loc[as_nan, "asin"] = np.nan
df.loc[ie_nan, "is_ebook"] = np.nan
df.loc[ar_nan, "average_rating"] = np.nan
df.loc[ka_nan, "kindle_asin"] = np.nan
df.loc[sm_nan, "similar_books"] = np.nan
df.loc[d_nan, "description"] = np.nan
df.loc[f_nan, "format"] = np.nan
df.loc[a_nan, "authors"] = np.nan
df.loc[p_nan, "publisher"] = np.nan
df.loc[np_nan, "num_pages"] = np.nan
df.loc[pd_nan, "publication_day"] = np.nan
df.loc[pm_nan, "publication_month"] = np.nan
df.loc[py_nan, "publication_year"] = np.nan
df.loc[i13, "isbn13"] = np.nan
df.loc[u_nan, "url"] = np.nan
df.loc[rc_nan, "ratings_count"] = np.nan
df.loc[wi_nan, "work_id"] = np.nan

df.isna().sum()

isbn                  41381
text_reviews_count       19
series                68481
country_code             18
language_code         44885
popular_shelves        1665
asin                  80114
is_ebook                 18
average_rating           19
kindle_asin           56880
similar_books         53011
description           17304
format                27459
authors                  19
publisher             27647
num_pages             32376
publication_day       43280
isbn13                32833
publication_month     37302
publication_year      25447
url                      19
book_id                   0
ratings_count            19
work_id                  19
title                     0
dtype: int64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   isbn                58619 non-null   string
 1   text_reviews_count  99981 non-null   float64
 2   series              31519 non-null   object
 3   country_code        99982 non-null   category
 4   language_code       55115 non-null   category
 5   popular_shelves     98335 non-null   object
 6   asin                19886 non-null   string
 7   is_ebook            99982 non-null   float64
 8   average_rating      99981 non-null   float16
 9   kindle_asin         43120 non-null   string
 10  similar_books       46989 non-null   object
 11  description         82696 non-null   string
 12  format              72541 non-null   category
 13  authors             99981 non-null   object
 14  publisher           72353 non-null   string
 15  num_pages           67624 non-null   float64
 16  publication_day     56720 non-null   float64
 17  isbn13              67167 non-null   string
 18  publication_month   62698 non-null   float64
 19  publication_year    74553 non-null   float64
 20  url                 99981 non-null   string
 21  book_id             100000 non-null  uint32
 22  ratings_count       99981 non-null   float64
 23  work_id             99981 non-null   float64
 24  title               100000 non-null  string
dtypes: category(3), float16(1), float64(8), object(4), string(8), uint32(1)
memory usage: 16.2+ MB